<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.senjapagi.Github4206">

    <application
        android:allowBackup="true"
        android:icon="@drawable/github"
        android:label="@string/app_name"
        android:roundIcon="@drawable/github"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.senjapagi.Github4206.splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.senjapagi.Github4206.Profile" />
        <activity android:name="com.senjapagi.Github4206.Detail" />
        <activity android:name="com.senjapagi.Github4206.MainActivity"></activity>
    </application>

</manifest>